body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(travel-agent.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    nav {
        color: #2c4e0c;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
      }
      
      nav ul {
        list-style-type: none;
        /* padding: 0; */
      }
      
      nav ul li {
        display: inline;
        margin-right: 10px;
        padding: 5px;
      }
      
      nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
      nav button {
        padding: 3px 4px;
        margin-right: 8px;
        background-color: #a6bd40;
        color: white;
        border: none;
        cursor: pointer;
      }
      .header {
        margin-left: 8%;
        color: #2c4e0c;
     }
     .intro {
        margin-left: 7%;
     }
     /* Some basic styling for contact form */
     #contactForm {
        max-width: 400px;
        margin-left: 10%;
      }
      #contactForm input,
      #contactForm textarea {
        width: 100%;
        margin-bottom: 15px;
        padding: 8px;
      }
      #contactForm button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
      }
      #contactForm button:hover {
        background-color: #0056b3;
      }
      .icon {
        display: inline;
        position: fixed;
        
      }
     
     .icon  a {
        display: block;
        margin-left: 10px;
         
     }
     .fa {
      padding: 20px;
      width: 20%;
      text-align: center;
      text-decoration: none;
     }
     .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #d3240d;
    color: white;
  }
     #table {
        margin-left: 10%;
        border-collapse: collapse;

        padding: 15%;  
     }
     #team {
        margin-left: 10%;
     }
     #team fieldset{
      display: inline-flex;
      padding: 1% 3%;
      
     }